/* margin: 10px 20px 30px 40px; top,right,bottom,left */
@import url("https://use.typekit.net/inf7hwm.css");
html{
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    padding: 0;
    background-color: #577E89;
    font-family: century-gothic, sans-serif;
    cursor: default;
}


h1{
    font-size: 65px;
    letter-spacing: 8px;
    font-weight: 800;
    color: #D5DFE2;
    margin: 0px 0px 0px 0px;
}

h3{
    font-size: 30px;
    color: #D5DFE2;
    margin: 60px 0 0 0;
    letter-spacing: 8px;
}

h4{
    font-size: 20px;
    color: #D5DFE2;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 63px;
    color: #212f33;
  }
.blink::after, .blink::before{
    box-sizing: border-box;
}
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .wrapper-intro{
    display: flex;
  }

.wrapper-about{
    padding: 70px 215px 0px 140px;
    display: flex;
    flex-direction: column;
}

.wrapper-services{
    padding: 0px 215px 0px 140px;
    display: flex;
    flex-direction: column;
}

.wrapper-faq{
    padding: 0px 215px 0px 140px;
    display: flex;
    flex-direction: column;
}
.subheader{
    font-style: italic;
    font-size: 30px;
    letter-spacing: 6px;
    color: #D5DFE2;
    margin: 7.5px 0px 0px 0px;
}

.wrapper-about{
    padding: 70px 215px 0px 140px;
}

.wrapper-services {
    padding: 0px 215px 0px 140px;
}

.wrapper-faq{
    padding: 0px 215px 0px 140px;
}

.about{
    font-size: 20px;
    color: white;
    margin: 25px 0 0 0;
    transition: 0.8s;
}

.about:hover{
    font-size: 22px;
    margin: 20px -40px 0 -40px;
}

.button-email{
    border-radius: 57px;
    padding: 23px 63px;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    display: inline-flex;
    background-color: #E2D8A7;
    font-weight: 800;
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 6px 6px 10px -5px rgb(0 0 0 / 34%);
    transition: 0.5s;
    width: fit-content;
}

.button-email:hover{
    box-shadow: 12px 13px 15px -5px rgb(0 0 0 / 34%);

}

.button-reviews{
    border-radius: 57px;
    padding: 23px 63px;
    text-transform: uppercase;
    margin: 60px 0 0 0;
    display: inline-flex;
    background-color: #E2D8A7;
    font-weight: 800;
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 6px 6px 10px -5px rgb(0 0 0 / 34%);
    transition: 0.5s;
    width: fit-content;
}
.button-reviews:hover{
    box-shadow: 12px 13px 15px -5px rgb(0 0 0 / 34%);

}

.blue-p{
    font-style: italic;
    letter-spacing: 2px;
    margin: 25px 0 0 0;
    font-size: 20px;
}

.subli {
    list-style-type: none;
    color: white;
    padding: 15px 0 0 0;
    font-weight: 400;
}

li {
    color: white;
    font-weight: 800;
    padding: 25px 0 0 0;
    font-size: 18px;
    max-width: max-content;
}

ul{
    padding: 15px 0px 0;
}



.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 4%;
    bottom: 10%
}

.nav-li {
    font-size: 13px;
    font-weight: 800;
    padding: 5px 0 0 0;
    cursor: pointer;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    color: #212f33;
    text-decoration: none;
}

.nav-li:hover{
    color: #D5DFE2;
    font-size: 13.5px;

}

footer{
    margin: 100px 0 20px 0;
    text-align: center;
    font-size: 12px;
    color: white;
}

/*Tele, twitter*/
.fab, .far {
    font-weight: 400;
    color: #212F33;
    font-size: 22px;
    transition: 0.5s;
}
/*mail*/
.fa, .fas {
    font-weight: 900;
    color: #212F33;
    font-size: 22px;
    transition: 0.5s;

}

.fa:hover, .fas:hover{
    color: #D5DFE2;
    font-size: 24px;
    margin: -1.2px;

}

.fab:hover, .far:hover{
    color: #D5DFE2;
    font-size: 24px;
    margin: -1.2px;
}

.icons-wrapper {
    margin: 20px 0 0;

}

.icon {
    margin: 0 0px 0 12px;

}

.iocon:hover{
    color: #D5DFE2;
    font-size: 31px;
}

.envelope{
    color: black;
    margin-left: 12px;
    font-size: 30px;
}

.envelope:hover{
    font-size: 30px;
    color: black;
    margin: 0 0px 0 12px;
}

.plane{
    color: black;
    margin-left: 9px;
    font-size: 30px;
}

.plane:hover{
    font-size: 30px;
    color: black;
    margin: 0 0px 0 9px;
}